body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color:#FFF;
    font-family: "メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック",Osaka,arial,verdana,sans-serif;
    color: #5e5e5e;
}

p {
	line-height: 1.4;
	font-weight: 300;
	letter-spacing: 0.15em;
}

/* ---------- header ---------- */


header {
    background: #fff;
	height: 50px;
}

div.content_box {
    width: 800px;
	margin: 10px auto;
    overflow: hidden;
}

svg {
	width:60%
}

.playbutton-wrapper button {
    height: 34px;
    padding: 0 10px;
    font-size: 14px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.thumbnails li {
    display: inline-block;
    cursor: pointer;
    border: 5px solid #fff;
}

/* ---------- slider ---------- */
#slider {
	margin-bottom: 36px;
}

li.tns-item {
	position: relative;
}

.tns-slider img {
    width: 100%;
	height: auto;
}

.comment_box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	transition: opacity 0.5s;
}

.comment_box:hover {
	opacity: 1;
	transition: opacity 0.4s;
}

.comment_box span{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

.comment_box p{
	margin-top: 54%;
	color: #fff;
}


/* ---------- SNS ---------- */
div.content-box {
	padding: 20px;
}

.sns-box i {
	color: #66CCFF;
	transition: color 0.3s ease 0s;
}

.sns-box i:hover{
	color: #55acee;
}

.sns-box a {
	text-decoration: none;
	margin: 0 10px;
}

/* ---------- About ---------- */
.head {
	font-size: 30px;
	font-weight: 200;
    line-height: 1.231;
    margin-bottom: 10px;
    text-align: center;
}

/*
ul.my_link a {
	font-weight: bold;
}

div.p_img_box {
	text-align: left;
}

p {
}

#about p.caption {
    margin: 0;
}

i.fa {
	margin: 20px;
}*/

/* ---------- #Work ---------- */

/*.content_box {
	text-align: left;
}

*/

footer {
    color: #fff;
    background: #e0e0e0;
    padding: 50px;
}