/**
key color
rgb(140, 214, 215)
#8CD6D7
pink
#FF2E6D
rgb(255, 46, 109)
yellow
#FFF011
rgb(255, 240, 17)
dark green
#16909A
rgb(22, 144, 154)
**/

@font-face {
  font-family: 'Noto Sans JP', serif;
  src: url("/fonts/icomoon/icomoon.eot?srf3rx");
  src: url("/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Noto Sans JP', "Open Sans", Arial, sans-serif;
	line-height: 1.6;
	font-size: 16px;
	color: #FFF;
	font-weight: 300;
	overflow-x: hidden;
	background: none;
/*	オリジナル*/
	line-height: 1.7;
    letter-spacing: 0.15em;
    overflow-y: scroll;
}

body::before {
  background: #FF85D8 center/cover no-repeat; /*fixedをトル！*/
  -webkit-background-size:cover;/*Android4*/
  content: "";
  display: block;
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100vh;
}

a {
  color: #55bbff;
  -webkit-transition: 0.5s, ease;
  -o-transition: 0.5s, ease;
  transition: 0.5s, ease;
}
a:hover {
  text-decoration: none;
  color: #55bbff;
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 13px;
  color: #606060;
}

h1, h2, h3, h4, h5, h6 {
  color: #606060;
  font-weight: 400;
  margin: 0 0 30px 0;
}

figure {
  margin-bottom: 2em;
}

::-webkit-selection {
  color: #fcfcfc;
  background: #55bbff;
}

::-moz-selection {
  color: #fcfcfc;
  background: #55bbff;
}

::selection {
  color: #fcfcfc;
  background: #55bbff;
}

.nav-header {
  position: relative;
  float: left;
  width: 100%;
}

.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn {
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  width: inherit;
  background: rgba(255, 255, 255, 0.8);
  color: #707070;
  border: 2px solid transparent;
  border-radius: 10px;
}
.btn_nico {
  border: 1px solid #a0a0a0 !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: rgba(40, 40, 40, 0.8);
  color: #aaaaaa !important;
}
.btn:hover, .btn:active, .btn:focus {
  background: rgba(255,255,255,0.3); !important;
  color: #aaaaaa;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.js .animate-box {
  opacity: 0;
}

#fh5co-wrapper {
  overflow-x: hidden;
  position: relative;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 7em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-lg {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-md {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
}
@media screen and (max-width: 768px) {
  .row-top-padded-sm {
    padding-top: 2em;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/* オリジナル追加css */

/* ---------- loading ---------- */
.animation_load {
    background-color: #FF85D8;
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 10000;
}

@keyframes blur {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

.animation_load::before {
    content: "";
    background: url(../img/top_logo.png) no-repeat;
    background-size: 600px;
    display: block;
    position: fixed;
    top: 46%;
    left: 30%;
    z-index: -1;
    width: 100%;
    height: 100vh;
    text-align: center;
    animation: blur 1s;
}

.top-logo {
    background: url(../img/top_logo.png) no-repeat;
    background-size: 600px;
    top: 46%;
    left: 30%;
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    z-index: -1;
}

.m-bottom {
	margin-bottom: 50px;
}

.wave {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.wave_1 {
  z-index: -4;
}

.wave_2 {
  z-index: -5;
}

.wave_3 {
  z-index: -6;
}

#particles-js {
    z-index: -3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.contents-top {
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 1000px;
  position: relative;
}

.top-miku {
  width: 100%;
  max-width: 100%;
  height: 130%;
  margin: 0 auto;
  background-image: url(../img/top_miku.png);
  background-repeat:  no-repeat;
  background-size: 90% auto;
  background-attachment: fixed;
  background-position: 50% 0;
  /*-webkit-filter: drop-shadow(3px 4px 1px rgba(0, 0, 0, 0.5));*/
  display: block;
  position: fixed;
  top: 0;
  z-index: -2;
  animation: fluffy 5s ease-in-out infinite alternate;
}

@keyframes fluffy {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

@media only screen and (min-device-width : 668px) and (max-device-width : 1024px)  {
	.top-miku {
        background-attachment: scroll !important;
        background-size: 1200px;
        background-position: -180px 20px;
        top: 0;
	 }
    .top-logo, .animation_load::before {
        background-size: 90% !important;
        top: 46% !important;
        left: 5% !important;
        width: 100% !important;
        height: 100vh !important;
    }
}

@media handheld, only screen and (max-width: 668px) {
	.top-miku {
        background-attachment: scroll !important;
        background-size: 1200px;
        background-position: -250px -25px;
        top: 0;
	 }
	.top-logo, .animation_load::before {
        background-size: 90% !important;
        top: 46% !important;
        left: 5% !important;
        width: 100% !important;
        height: 100vh !important;
	}
}


#header-section {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0;
  position: relative;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.head-logo {
  position: relative;
  z-index: 2;
  font-size: 22px;
  margin-top: 35px;
  font-weight: 700;
  float: left;
}

.head-logo > a {
  color: rgba(70, 70, 70, 0.5);
}

@media screen and (max-width: 768px) {
  .head-logo {
    width: 100%;
    float: none;
    text-align: center;
  }
}

/*
#fh5co-header {
  position: relative;
  margin-bottom: 0;
  z-index: 9999999;
}
*/

/*
.header-top {
  padding: 10px 0;
  background: #55bbff;
}
*/

.contents-section {
	padding-top: 50px;
	padding-bottom: 50px;
    transition: 0.5s;
    transition-delay: 0.5s;
}


 .contents-info, .contents-movie, .contents-credit {
    background-image: radial-gradient(#ffe6f7 14%,#fff 0), radial-gradient(#ffe6f7 14%,#fff 0);
    background-size: 20px 20px;
 }

#logo .logo, #logo .logo p {
    margin: auto;
}

.info-cd {
    background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	padding: 50px;
	margin: 20px 0;
	position: relative;
}

@media handheld, only screen and (max-width: 700px) {
  .info-cd {
    padding: 20px;
    font-size: 0.85em;
  }
}

.info-cd-in {
	position: relative;
	z-index: 10;
}

.info-cd:before {
	position: absolute;
	top: -1px;
	left: -10px;
	border: 1px solid #ffffff;
	width: calc(100% + 18px);
	height: 100%;
	content: "";
	}

.info-cd:after {
	position: absolute;
	top: -10px;
	left: -1px;
	border: 1px solid #ffffff;
	width: 100%;
	height: calc(100% + 18px);
	content: "";
}

ul.cd_info_list {
    list-style: none;
    padding: 0;
}

li.info_list_item {
    margin-bottom: 20px;
}

.contents-info .cd_title {
    background: #fff;
    border: 1px solid #ffbdea;
    border-radius: 20px;
    -webkit-filter: drop-shadow(5px 5px 0 hsla(0,0%,100%,.5));
    filter: drop-shadow(5px 5px 0 rgba(255, 189, 234, .5));
}

.f25 {
    font-size: 25px;
}

.f30 {
    font-size: 30px;
}

.f40 {
    font-size: 40px;
}

.info_jacket_item {
    width: 50%;
    height: 50px;
    min-width: 250px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ffbdea;
    border-radius: 6px;
    line-height: 280%;
    overflow: hidden;
    text-align: center;
}

.info_jacket_item>a {
    color: #606060;
}

.contents-store, .contents-track {
    width: 100%;
	color: #fff;
    background-color: rgba(145, 192, 255, 1);
    background-image: repeating-linear-gradient(-45deg, #d9e9ff, #d9e9ff 1px, transparent 0, transparent 26px);
}

.contents-store h4, .contents-track h4, .contents-goods p {
	color: #fff;
}

.store-block .btn-store {
	width: 210px;
	display: inline;
}

.btn-store .btn {
  margin-bottom: 20px;
}

.contents-track {
	width: 100%;
	color: rgb(70, 70, 70);
}

.contents-track ul {
	padding: 0;
	margin: 0 50px;
	list-style: none;
}

.contents-track li {
	height: 45px;
	padding: 12px;
	margin: 14px;
    background: #efefef;
    border-radius: 240px 35px 100px 70px / 35px 200px 70px 185px;
}

.contents-track li span {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1%;
}

.contents-track li span:last-child {
	margin-right: 0;
}

.contents-track .track-num, .track-author {
	color: rgba(60, 60, 60, 0.8);
}

.contents-track .track-author {
	font-size: 0.75em;
}

/* テキストがあふれる */
@media handheld, only screen and (max-width: 700px) {
	.contents-track ul {
		margin: 0;
	}
	.contents-track li {
		height: 60px;
	}
	.contents-track {
        font-size: 0.85em;
	}
    .contents-track li:nth-child(1) .track-author {
      font-size: 0.5em;
    }
    .contents-track li:nth-child(3) {
        font-size: 0.75em;
    }
    .track-sub {
        font-size: 0.5em;
    }
}

/* youtube SP */
@media handheld, only screen and (max-width: 668px) {
	#xfd .video {
		position: relative;
		width: 100%;
		padding-top: 56.25%;
	}
	#xfd .video iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
	}
}

.lyrics-button {
	padding: 20px 0 40px 0;
}

.contents-movie {
	width: 100%;
}

.contents-movie .movie-btn > a {
	margin: 35px;
}

#spec-table a {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: underline;
}
#spec-table a:hover {
	color: #fff;
	text-decoration: underline;
}

.table {
	margin: 0;
}

.space-block {
	height: 30px;
}

/* goods */
.contents-goods {
    width: 100%;
    background-color: #FF85D8;
    background-image: repeating-linear-gradient(45deg, #ffc2ec, #ffc2ec 300px, transparent 0, transparent 600px);
    padding: 25px 14%;
}

.goods_info {
    padding: 32px;
    margin: 14px;
    color: #606060;
    background: #fafafa;
    border-radius: 240px 35px 100px 70px / 35px 200px 70px 185px;
}

.goods_info a {
    color: #606060 !important;
}

.goods_info table {
    width: 90%;
}

.goods_info th, .goods_info td {
    border: none !important;
}

.alpha-box {
	background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
	overflow: hidden;
}

@media only screen and (min-device-width : 668px) {
  .goods-4 {
    margin-top: 50px;
  }
}

/* credit */
#logo:after, h4:after, .contents-section .head p:after, .credit-wrap:after, .movie-btn:after {
	content:"";
	height:2px;
	width:100%;
	display: block;
	background: rgba(255, 255, 255, 0.8);
}

.contents-credit {
  width: 100%;
}

@media only screen and (min-device-width : 668px) and (max-device-width : 1024px)  {
     .contents-credit {
		 background-attachment: scroll !important;
	 }
}

@media handheld, only screen and (max-width: 668px) {
     .contents-credit {
		 background-attachment: scroll !important;
	 }
}

.credit-wrap > div {
	margin: 0 auto;
	display: flex;
}

.credit-wrap > .credit-music {
    margin-left: calc(50% - 70px);
}
.credit-wrap > .credit-illust {
	width: 312px;
}
.credit-wrap > .credit-design {
    width: 178px;
}
.credit-wrap > .credit-lyrics {
  width: 290px;
}
.credit-wrap > .credit-mastering {
	width: 265px;
}

.credit-wrap ul {
	padding: 0;
}

.credit-wrap li {
    list-style: none;
}

.credit-wrap > .credit-role > div:first-child {
    margin-right: 30px;
}

.credit-wrap > .credit-role > div:first-child p {
    text-align: right;
}

.credit-wrap > .credit-role > div:last-child li {
    text-align: left;
}

.credit-wrap a, .no-role {
	color: #606060;
	font-size: 0.9em;
    padding: 2px 10px;
}

.credit-wrap a:hover {
	color: rgba(255, 255, 255, 0.5);
	transition: 0.2s;
}

/* lyrics - オリジナル追加css */
#lyrics .contents-title {
    /*background-color: #51d2e3;*/
}

#lyric-nav a {
	font-size: 0.7em;
	letter-spacing: 0.1em;
}

.info-wabi {
    border: 1px solid #606060;
    color: #606060;
    width: 100%;
    max-width: 350px;
    margin: 15px auto;
    font-size: 0.7em;
}

div.title-logo-lyrics img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	padding: 50px;
}

.contents-lyrics dl {
	border-bottom: 1px solid #606060;
}

.contents-info dl, .contents-movie dl {
	border-bottom: 1px solid #606060;
}

.contents-lyrics {
    background-image: radial-gradient(#ffe6f7 14%,#fff 0), radial-gradient(#ffe6f7 14%,#fff 0);
    background-size: 20px 20px;
	padding: 30px;
}

.contents-lyrics p, .contents-lyrics .lyrics  {
    color: #606060;
}

@media handheld, only screen and (max-width: 668px) {
  .container {
    padding: 5px !important;
  }
  .contents-lyrics {
    padding: 10px;
  }
}

footer {
  padding: 40px;
  background-color: rgb(255, 122, 226);
  background-image:
          repeating-linear-gradient(-45deg, #ffadec, #ffadec 2px, transparent 0, transparent 26px);
}
footer p {
  font-size: 14px;
  color: #fff;
}
.social-icons {
	margin: 20px;
}
.social-icons > a {
	color: rgba(255, 255, 255, 0.8);
 	font-size: 36px;
	padding: 4px 10px;
}
.social-icons > a:hover {
 	color: rgba(255, 255, 255, 1);
	transition: 0.2s;
}